* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
}
body,
input,
button,
a {
  font-family: "New Tegomin", sans-serif;
}
body {
  font-size: 100%;
  background-image: url("churras.jpg");
  background-size: cover;
}
header {
  padding: 5px;
  color: navajowhite;
  background-image: url("logo\ em\ cima.jpg");
  background-size: cover;
  background-position-y: center;
  background-position: 100% ;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
header h1 {
  font-weight: 200;
  font-size: 1rem;
  text-align: center;
}
header h2 {
  font-weight: 200;
  font-size: 1.1rem;
  text-align: center;
}

header img {
  width: 30px;
}

.container {
  padding: 8px 5px 8px 5px;
  position: relative;
  max-width: 580px;
  height: 650px;
  margin: 8px auto 0 auto;
  background-color: black;
  border-top-left-radius: 3px;
  border-top-right-radius: 0px;
}

.container input {
  font-size: 1rem;
  border-radius: 10px;
  display: block;
  width: 95%;
  margin: auto;
  padding: 20px 10px 20px 10px;
  margin-bottom: 8px;
  border: 2px solid purple;
  position: relative;
}

.container input:first-of-type {
  margin-top: 30px;
  position: relative;
}

.container input:focus {
  background-color: whitesmoke;
  outline: none;
  font-weight: bold;
  position: relative;
}
.container p {
  text-align: center;
  font-size: 1rem;
  margin-bottom: 7px;
  position: relative;
}

.item {
  background-color: #575739;
  font-weight: bold;
  color: #ac9a9a;
  line-height: 10px;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 10px;
  margin-top: 15px;
}

.itemIcon {
  width: 20px;
  vertical-align: middle;
  margin-right: 10px;
}
.container button {
  position: absolute;
  bottom: 2px;
  width: 98%;
  border: none;
  color: black;
  background-color: purple;
  padding: 7px 0 7px 0;
  font-weight: 100px;
  font-size: 1rem;
  cursor: pointer;
}
.buttonrecal {
  
  bottom: 0;
  width: 90%;
  border: none;
  color: black;
  background-color: purple;
  font-weight: 100px;
  font-size: 1rem;
  cursor: pointer;
  font-family: "New Tegomin", sans-serif;
}

.dev {
  position: bottom;
  bottom: 0;
  margin-top: 0.5px;
  font-size: 0.9rem;
  color: #fff;
  width: 100%;
  text-align: center;
  background-color: rgb(27, 27, 27);
  font-family: "New Tegomin", sans-serif;
}

@media screen and (min-width: 768px) {
  header h1 {
    font-size: 2.5rem;
  }
  header h2 {
    font-size: 1.5rem;
  }
}
