* {
  padding: 0;
  margin: 0;
  font-family: "New Tegomin", Arial, Helvetica, sans-serif;
}

body {
  background-image: url(churras.jpg);
  background-repeat: repeat-y;
  background-position: center;
  background-size: cover;
}
.container {
  max-width: 350px;
  min-height: 500px;
  margin: auto;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: purple;
  padding: 20px;
  border-radius: 10px;
}
.dev {
  background-color: black;
  color: aliceblue;
  text-align: center;
  font-weight: 20px;
  border-radius: 0 0 10px 10px;
}

input {
  width: 100%;
  border-radius: 8px;
  padding: 10px;
  box-sizing: border-box;
  margin-bottom: 20px;
}

button {
  margin: 0 auto;
  width: 30%;
  padding: 10px;
  background-color: black;
  color: #fff;
  font-size: 18px;
  border: 0;
  border-radius: 10px;
}
.item {
  background-color: #313120;
  font-weight: bold;
  color: #ac9a9a;
  line-height: 30px;
  padding: 15px;
  border-radius: 15px;
  margin-bottom: 30px;
}

.itemIcon {
  width: 20px;
  vertical-align: middle;
  margin-right: 10px;
}
